* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    display: block;
    text-align: center;
    background-color: #6a5acd;
    color: white;
    padding: 1rem;
}

.container {
    display: block;
    width: 90%;
    margin: 2rem auto;
}

nav{
    background-color: #90ee90;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;

}
nav ul li{
    display: inline;
}
nav ul li a{
    color: rgb(119, 29, 29);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #9982a5;
}

.method {
    display: inline-block;
    width: calc(30% - 2rem);
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.method img {
    max-width: 600%;
    height: auto;
    margin: 1rem 0;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

#basic {
    background-color: #98fb98;
}

#intermediate {
    background-color: #ffcc00;
}

#advanced {
    background-color: #ff6347;
    color: white;
}

#variation {
    background-color: #add8e6;
}

#coefficients {
    background-color: #daa520;
}

#fourier {
    background-color: #20b2aa;
}

#ztransform {
    background-color: #9932cc;
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}