* {
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;
    /* heredada por los hijos*/
    line-height: 1.6;
    /*Heredado por los hijos*/
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

h1 {
    color: white;

    /*sobreescribe el color heredado*/
    p {
        margin-bottom: 1em;
    }
}

.highlight {
    color: rgb(213, 45, 73);
    /*Mas especifico que body*/

}

#important-note {
    font-weight: bold;
    /* Más especifico que .highlight*/
    color: #0b627e;
    font-size: 120%;
}

footer {
    box-sizing: border-box;
    text-align: center;
    margin-top: 2em;
    font-size: 0.9em; /* Fuente más pequeña para el pie de página*/
    background-color: #7fd690;
    color: inherit;
    font-family: 'Lucida Grande', Verdana;
    border-radius: 5px;
} 


header {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 1rem;

}

.container {
    width: 90%;
    margin: auto;
    display: block;

}

.method {
    display: inline-block;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    color: inherit;
    /* Herencia del color */
    font-family: inherit;
    /* Herencia de la fuente */
}

.method:hover {
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.method:active {
    background-color: #e6e6e6;
}

#easy {
    background-color: #90ee90;
}

#medium {
    background-color: #ffd700;
}

#hard {
    background-color: #c3856b;
    color: black;
    container-type: center;

}

#variation {
    background-color: #add8e6;
}

#coefficients {
    background-color: #daa520;
}

#fourier {
    background-color: #20b2aa;
}

#ztransform {
    background-color: #9982a5;
    color: rgb(7, 4, 4);
    align-content: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: left;
}